<!DOCTYPE html>
<html lang="en">
<head>
    <title>Links for {{ name }}</title>
</head>
<body>
<h1>Links for {{ name }}</h1>
{% for version in versions %}
    <a href="{{ files_host }}{{ prefix }}/files/{{ name }}/{{ version.version }}/{{ version.filetype }}/{{ version.filename }}#sha256={{ version.sha256_digest }}"
            {% if version.requires_python %}
       data-requires-python="{{ version.requires_python }}"
            {% endif %}
    >{{ version.filename }}</a><br/>
{% endfor %}
</body>
</html>