<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
Wow, you've found an error.
</body>
</html>