<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aopi</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<a href="{{ url_for('aopi_login_page') }}">Log in</a>
</body>
</html>